.todo-app {
  width: 300px;
  margin: 50px auto;
  background: aliceblue;
  padding: 40px;
}

.todo-app > input {
  display: block;
  margin: auto;
  font-size: 26px;
}

.task-list {
    margin-top: 15px;
    width: 300px;
    margin: 50px auto;
    background: rgb(161, 198, 230);
    padding: 10px;
  }
  
  .task {
    font-size: 26px;
    color: #111111;
    display: grid;
    grid-template-columns: 30px auto 30px;
  }

  .task:hover {
    background-color: #def0ff;
  }
  .task > input {
    margin: auto;
  }
  .task.done {
    opacity: 0.5;
  }
  .task:hover {
    background-color: #def0ff;
  }
  .delete {
    opacity: 0;
    cursor: pointer;
    text-align: center;
    color: red;
  }
  .task:hover .delete {
    opacity: 1;
  }

  .task.done label {
    text-decoration: line-through;
  }
  
  .task-panel {
    color: #0088ff;
    margin-top: 8px;
    font-size: 14px;
    display: flex;
  }
  
  .task-panel .task-counter {
    flex-grow: 1;
  }
  
  .task-panel span {
    padding: 5px;
    cursor: pointer;
  }
  
  .task-panel span.active {
    font-weight: bold;
  }